node_modules/
node/
.angular
.idea


/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/


# Miscellaneous
/.angular/cache
/.angular/cache/17.0.10
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/.angular/
/angular.json
/package.json
/package-lock.json
/tsconfig.app.json
/README.md
/tsconfig.json
/tsconfig.spec.json
