<div class="container">
    <div>
        <app-sidebar></app-sidebar>
    </div>
    <div class="book-wrapper">
        <div class="book-list">
            <div *ngFor="let book of books" class="book-row">
                <div class="book-column">
                    <div class="book-title">{{ book.title }}</div>
                    <div class="book-details">
                        <div><strong>Author:</strong> {{ book.author.firstName }}</div>
                        <div><strong>Genres:</strong> {{ genresMap.get(book.id) }}</div>
                        <div><strong>Publication Year:</strong> {{ book.publicationYear }}</div>
                        <div><strong>Available Copies:</strong> {{ book.copiesAvailable }}</div>
                    </div>
                </div>
                <div class="button-column">
                    <button class="edit-button" (click)="openEditBookDialog(book.id)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-fab color="primary" class="delete-button" color="warn" (click)="deleteBook(book.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

