
.container {
    display: flex;
    position: static;
}

.book-wrapper {
    display: flex;
    width: 100%;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*height: 10rem;*/
}

.book-row {
    display: flex;
    align-items: flex-start;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.book-column {
    flex: 1;
}

.book-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.book-details {
    color: #555;
}

.button-column {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.edit-button,
.delete-button {
    margin-top: 10px;
    padding: 5px 8px;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

.edit-button {
    text-align: center;
    font-size: xx-large;
    color: #939494;
}
.edit-button:hover {
    background-color: #e0d3d3;
}

.delete-button:hover {
    background-color: #e0d3d3;
}

.delete-button {
    font-size: xx-large;
    color: #c50a0a;
}

