/* sidebar.component.css */

.sidebar {
    width: 12.5rem;
    position: sticky;
    top: 4rem;
    min-height: 57.25rem;
    background-color: #010f1f;
    color: #fff;
    padding: 1.25rem;
    font-weight: 600;
    font-size: medium;

}

.sidebar-section {
    display: block;
    cursor: pointer;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    border-radius: 0.313rem;
    transition: background-color 0.3s;
}

.sidebar-section:hover {
    background-color: #1162a2;
}

