<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="content">
        <div class="row">
            <mat-form-field>
                <input matInput placeholder="Book Name" formControlName="bookName">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Publication Year" formControlName="publicationYear">
            </mat-form-field>
        </div>

        <div class="row">

            <mat-form-field>
                <input matInput placeholder="Copies Available" formControlName="copiesAvailable">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Author</mat-label>
                <mat-select formControlName="author">
                    <mat-option *ngFor="let author of authors" [value]="author">{{ author }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field>
                <mat-label>Genres</mat-label>
                <mat-select formControlName="genre" multiple>
                    <mat-option *ngFor="let genre of genres" [value]="genre">{{ genre }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div class="button">
            <button mat-raised-button color="primary" type="submit">Submit</button>
            <button mat-raised-button (click)="closepopup()" color="warn">Cancel</button>

        </div>
    </div>

</form>

