:root {
    font-size: 1rem;
}

.display {
    display: flex;
    justify-content: flex-end;
    gap: 0.0625rem;
}

.row {
    display: flex;
    gap: 0.0625rem;
}

.mat-dialog-container {
    max-width: 25rem;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    margin-bottom: 1rem;
}

.field {
    flex: 1;
    margin-right: 1rem;
}

button {
    margin-top: 1rem;
}

mat-select {
    width: 100%;
}
