<form [formGroup]="form">
    <div class="content">
        <h1 *ngIf="!updateBook"> Add Book </h1>
        <h1 *ngIf="updateBook"> Edit Book </h1>
        <div class="row">
            <mat-form-field>
                <mat-label> Title</mat-label>
                <input matInput placeholder="Book Name" formControlName="title">
            </mat-form-field>

            <mat-form-field>
                <mat-label> Publication year</mat-label>
                <input matInput placeholder="Publication Year" formControlName="publicationYear">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field>
                <mat-label> Copies available</mat-label>
                <input matInput placeholder="Copies Available" formControlName="copiesAvailable">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Author</mat-label>
                <mat-select formControlName="authorId">
                    <mat-option *ngFor="let author of authorResponse"
                                [value]="author.id">{{ author.firstName }} {{ author.lastName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field>
                <mat-label>Genres</mat-label>
                <mat-select formControlName="genreIds" multiple>
                    <mat-option *ngFor="let genre of genresResponse" [value]="genre.id">{{ genre.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div class="button">
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" (click)="onSubmit()">
                Submit
            </button>
            <button mat-raised-button (click)="closepopup()" color="warn">Cancel</button>

        </div>
    </div>

</form>

