
html,
body {
    height: 100%;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --border-color: #ccc;
    --border-box-shadow: rgba(0, 0, 0, 0.1);
}